body {
    font-family: sans-serif;
}

.background {
    background: rgb(252, 127, 1);
    background: linear-gradient(228deg, rgba(252, 127, 1, 1) 2%, rgba(255, 195, 107, 1) 51%, rgba(252, 127, 1, 1) 95%);
}

.top-grid {
    background-color: black;
    background: rgba(0, 0, 0, 0.1); 
    display: grid;
}

.top-grid-inner {
    display: inline-flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    flex-grow: 1;
        
}

.top-grid-inner-card {
    padding: 5px;
    margin: 2px 5px;
}

#boards {
    border-radius: 5px;
    background: grey;
    background: rgba(211, 211, 211, 0.5); 
}

#search {
    border-radius: 5px;
    background: grey;
    width: 150px;
    text-align: end;
    background: rgba(211, 211, 211, 0.5);
}

#trello {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    padding: 0;
    flex-grow: 1;
    text-align: center;
}

#boards-pic {
    display: block;
    border-radius: 5px;
    background: grey;
    padding: 0;
    text-align: center;
    background: rgba(211, 211, 211, 0.5);
}
#boards-pic a {
    padding: 10px 5px;
    position: relative;
    top: 8px;
    font-weight: bold;
    text-align: end;
}

.top-grid-inner-card img {
    border-radius: 5px;
    background: grey;
    position: relative;
    top: 0px;
    left: -3px;
    padding: 0;
    float: left;
    height: 30px;
    width: 30px;
}

.wide-grid {
    display: grid;
    color: white;
}

.wide-grid-inner {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.wide-grid-inner-card i {}

#a {
    font-size: larger;
    font-weight: bolder;
}

#b {
    grid-column: col 1/ span 2;
    font-size: .8em;
    color: white;
}

.boards-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-end:
}

.boards-card {
    display: inline-table;
    border-radius: 5px;
    margin: 8px;
    background: #e9e9eb;
}

.boards-card-inner {
    border: ;
    background: white;
    border-radius: 5px;
    margin: 2%;
    padding: 5px;
}

.boards-card-inner-cols {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
}

.boards-card-inner-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
}

.boards-card p {
    margin-left: 5px;
}

.boards-card h3 {
    margin-left: 10px;
    font-size: medium;
}

#fade {
    margin-left: 10px;
    opacity: 0.4;
}

.g {
    color: slategray;
    margin-left: 5px;
}

#red-box {
    float: right;
    margin-right: 67%;
    padding: 2px;
    border-radius: 5px;
    background: red;
    opacity: .4;
    color: white;
}

.photo {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    float: right;
    position: relative;
    bottom: 31px;
    left: 8px;
    margin-left: 3px;
}

.col {
    width: 50px;
    height: 8px;
    margin: 2px;
    border-radius: 5px;
}

.green {
    background: #6fcb5c;
}

.yellow {
    background: #f0e400;
}

.orange {
    background: #ffba55;
}

.red {
    background: #f56a53;
}

.purple {
    background: #d186e3;
}

.blue {
    background: #0289cb;
}

.lt-blue {
    background: #00cfe5;
}

.lt-green {
    background: #58f0a7;
}

.pink {
    background: #ff8fd5;
}

.black {
    background: #3d3d3d;
}
